In [1]:
from configure.settings import DBSelector
import pandas as pd
# from configure.util import mongo_convert_df

In [2]:
db = DBSelector().mongo('qq')

In [3]:
base_df = mongo_convert_df(db,'db_parker','security_list')

In [4]:
all_office_data = mongo_convert_df(db,'db_parker','security_branch_office')

In [5]:
base_df.head()

  SAC_ID        AOI_NAME AOI_ID OTC_ID  RNUM               crawltime
0     01      爱建证券有限责任公司    798     01     1 2022-04-24 22:42:11.630
1     03      安信证券股份有限公司    722     01     2 2022-04-24 22:42:11.854
2     03    安信证券资产管理有限公司  27311     01     3 2022-04-24 22:42:11.866
3     02    北京高华证券有限责任公司    637     01     4 2022-04-24 22:42:11.878
4     03  渤海汇金证券资产管理有限公司  18626     01     5 2022-04-24 22:42:11.890

In [6]:
all_office_data.head()

,MSDI_ZJJ_COMPLAINTS_TEL,MSDI_NAME,MSDI_REG_PCC,MSDI_SALES_MANAGER,MSDI_REG_ADDRESS,MSDI_CS_TEL,MSDI_EMAIL,RNUM,crawltime,AOI_ID
0,021-50121047,爱建证券有限责任公司上海上海西藏南路证券营业部,上海市市辖区黄浦区西藏南路831弄2号1203-1206,倪军,上海市黄浦区西藏南路831弄2号1203-1206,021-63340218,None,1,2022-04-24 23:39:11.154,798
1,021-50121047,爱建证券有限责任公司上海宁夏路证券营业部,上海市市辖区普陀区宁夏路235号4楼,李振,上海市宁夏路235号4楼,021-61739612,None,2,2022-04-24 23:39:11.187,798
2,0571-88473333,爱建证券有限责任公司嘉兴斜西街证券营业部,浙江省嘉兴市南湖区斜西街497号,余长青,浙江省嘉兴市斜西街497号,0573-82078755,None,3,2022-04-24 23:39:11.201,798
3,021-50121047,爱建证券有限责任公司上海长阳路证券营业部,上海市虹口区长阳路355号606-2、607、608、609、610、611、612室,唐卡嘉,上海市虹口区长阳路355号606-2、607、608、609、610、611、612室,021-65863038,None,4,2022-04-24 23:39:11.214,798
4,0571-88473333,爱建证券有限责任公司温州划龙桥路证券营业部,浙江省温州市鹿城区划龙桥路天雄大厦二层201室-2,吴联冠,浙江省温州市鹿城区划龙桥路天雄大厦二层201室-2,0577-88917787,None,5,2022-04-24 23:39:11.225,798

In [5]:
full_info = pd.merge(base_df,all_office_data,how='inner',left_on='AOI_ID',right_on='AOI_ID')

In [6]:
full_info.head()

,SAC_ID,AOI_NAME,AOI_ID,OTC_ID,RNUM_x,crawltime_x,MSDI_ZJJ_COMPLAINTS_TEL,MSDI_NAME,MSDI_REG_PCC,MSDI_SALES_MANAGER,MSDI_REG_ADDRESS,MSDI_CS_TEL,MSDI_EMAIL,RNUM_y,crawltime_y
0,01,爱建证券有限责任公司,798,01,1,2022-04-24 22:42:11.630,021-50121047,爱建证券有限责任公司上海上海西藏南路证券营业部,上海市市辖区黄浦区西藏南路831弄2号1203-1206,倪军,上海市黄浦区西藏南路831弄2号1203-1206,021-63340218,None,1,2022-04-24 23:39:11.154
1,01,爱建证券有限责任公司,798,01,1,2022-04-24 22:42:11.630,021-50121047,爱建证券有限责任公司上海宁夏路证券营业部,上海市市辖区普陀区宁夏路235号4楼,李振,上海市宁夏路235号4楼,021-61739612,None,2,2022-04-24 23:39:11.187
2,01,爱建证券有限责任公司,798,01,1,2022-04-24 22:42:11.630,0571-88473333,爱建证券有限责任公司嘉兴斜西街证券营业部,浙江省嘉兴市南湖区斜西街497号,余长青,浙江省嘉兴市斜西街497号,0573-82078755,None,3,2022-04-24 23:39:11.201
3,01,爱建证券有限责任公司,798,01,1,2022-04-24 22:42:11.630,021-50121047,爱建证券有限责任公司上海长阳路证券营业部,上海市虹口区长阳路355号606-2、607、608、609、610、611、612室,唐卡嘉,上海市虹口区长阳路355号606-2、607、608、609、610、611、612室,021-65863038,None,4,2022-04-24 23:39:11.214
4,01,爱建证券有限责任公司,798,01,1,2022-04-24 22:42:11.630,0571-88473333,爱建证券有限责任公司温州划龙桥路证券营业部,浙江省温州市鹿城区划龙桥路天雄大厦二层201室-2,吴联冠,浙江省温州市鹿城区划龙桥路天雄大厦二层201室-2,0577-88917787,None,5,2022-04-24 23:39:11.225

In [6]:
full_info_uni = full_info.drop(['crawltime_x','crawltime_y','RNUM_y'],axis=1)

In [8]:
full_info_uni.head()

,SAC_ID,AOI_NAME,AOI_ID,OTC_ID,RNUM_x,MSDI_ZJJ_COMPLAINTS_TEL,MSDI_NAME,MSDI_REG_PCC,MSDI_SALES_MANAGER,MSDI_REG_ADDRESS,MSDI_CS_TEL,MSDI_EMAIL
0,01,爱建证券有限责任公司,798,01,1,021-50121047,爱建证券有限责任公司上海上海西藏南路证券营业部,上海市市辖区黄浦区西藏南路831弄2号1203-1206,倪军,上海市黄浦区西藏南路831弄2号1203-1206,021-63340218,None
1,01,爱建证券有限责任公司,798,01,1,021-50121047,爱建证券有限责任公司上海宁夏路证券营业部,上海市市辖区普陀区宁夏路235号4楼,李振,上海市宁夏路235号4楼,021-61739612,None
2,01,爱建证券有限责任公司,798,01,1,0571-88473333,爱建证券有限责任公司嘉兴斜西街证券营业部,浙江省嘉兴市南湖区斜西街497号,余长青,浙江省嘉兴市斜西街497号,0573-82078755,None
3,01,爱建证券有限责任公司,798,01,1,021-50121047,爱建证券有限责任公司上海长阳路证券营业部,上海市虹口区长阳路355号606-2、607、608、609、610、611、612室,唐卡嘉,上海市虹口区长阳路355号606-2、607、608、609、610、611、612室,021-65863038,None
4,01,爱建证券有限责任公司,798,01,1,0571-88473333,爱建证券有限责任公司温州划龙桥路证券营业部,浙江省温州市鹿城区划龙桥路天雄大厦二层201室-2,吴联冠,浙江省温州市鹿城区划龙桥路天雄大厦二层201室-2,0577-88917787,None

In [12]:
full_info_uni.to_excel('all_security_branch_info.xlsx',encoding='utf8')

In [ ]:
# 分析部分

In [7]:
count_info = full_info_uni.groupby('AOI_NAME').count()

In [10]:
count_info.head()

,SAC_ID,AOI_ID,OTC_ID,RNUM_x,MSDI_ZJJ_COMPLAINTS_TEL,MSDI_NAME,MSDI_REG_PCC,MSDI_SALES_MANAGER,MSDI_REG_ADDRESS,MSDI_CS_TEL,MSDI_EMAIL
AOI_NAME,,,,,,,,,,,
万和证券股份有限公司,44,44,44,44,44,44,44,44,44,44,0
万联证券股份有限公司,66,66,66,66,66,66,66,66,66,66,0
上海证券有限责任公司,76,76,76,76,76,76,76,76,76,76,0
世纪证券有限责任公司,35,35,35,35,35,35,35,35,35,35,0
东兴证券股份有限公司,75,75,75,75,75,75,75,75,75,75,0

In [11]:
top20 = count_info.sort_values('AOI_ID',ascending=False)[:50]

In [9]:
sort_info = count_info.sort_values('AOI_ID',ascending=False).reset_index()

In [22]:
sort_info.head()

,AOI_NAME,SAC_ID,AOI_ID,OTC_ID,RNUM_x,MSDI_ZJJ_COMPLAINTS_TEL,MSDI_NAME,MSDI_REG_PCC,MSDI_SALES_MANAGER,MSDI_REG_ADDRESS,MSDI_CS_TEL,MSDI_EMAIL
0,中国银河证券股份有限公司,500,500,500,500,500,500,500,500,500,500,0
1,方正证券股份有限公司,362,362,362,362,362,362,362,362,362,362,0
2,国泰君安证券股份有限公司,338,338,338,338,338,338,338,338,338,338,0
3,安信证券股份有限公司,319,319,319,319,319,319,319,319,319,319,0
4,海通证券股份有限公司,302,302,302,302,302,302,302,302,302,302,0

In [24]:
sort_info[sort_info['AOI_NAME'].str.contains('国盛')]

,AOI_NAME,SAC_ID,AOI_ID,OTC_ID,RNUM_x,MSDI_ZJJ_COMPLAINTS_TEL,MSDI_NAME,MSDI_REG_PCC,MSDI_SALES_MANAGER,MSDI_REG_ADDRESS,MSDI_CS_TEL,MSDI_EMAIL
15,国盛证券有限责任公司,182,182,182,182,182,182,182,182,182,182,0

In [14]:
x=list(top20.index)
y=top20['SAC_ID'].tolist()

In [26]:
x=list(map(lambda x:x.strip('股份有限公司'),x))
x=list(map(lambda x:x.strip('有限责任'),x))

In [15]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.globals import ThemeType

In [29]:
tt={"theme": ThemeType.CHALK}
c = (
    Bar(init_opts=opts.InitOpts(width='1500px',theme=ThemeType.CHALK))
    .add_xaxis(x)
    .add_yaxis(y_axis=y,series_name='营业部数量----[公众号：大数据量化]',
    category_gap="50%"
    )
    # .reversal_axis()
    # .set_series_opts(label_opts=opts.LabelOpts(position="right"))
    .set_global_opts(title_opts=opts.TitleOpts(title="营业部数量"),
    xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=45)),
    # datazoom_opts=opts.DataZoomOpts()
    )
    .render("营业部数量.html")
)

In [10]:
sort_info.to_excel('排序后数据.xlsx',encoding='utf8')

In [13]:
len(base_df['AOI_ID'].tolist())

140

In [18]:
seen = set()
for i in base_df['AOI_ID'].tolist():
    if i not in office_list:
        print(i)

27311
18626
5363
5971
632
28276
740
713
21183
14793
754
783
3263
13466
729
707
5493
755
28031
670
669
703
699
688
720
27933
5371
28272
28711
4341
3687
6968
2483
673
4671

In [16]:
len(all_office_data.groupby('AOI_ID').count())

105

In [17]:
office_list = list(all_office_data.groupby('AOI_ID').count().index)

In [19]:
base_df[base_df['AOI_ID']=='27311']

  SAC_ID      AOI_NAME AOI_ID OTC_ID  RNUM               crawltime
2     03  安信证券资产管理有限公司  27311     01     3 2022-04-24 22:42:11.866